.containerPizzasCards {
    width: 100vw;
    padding: var(--margen);
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
}

.containerCards {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.containerIMGcards {
    width: 300px;
    height: 300px;
    background: var(--contrastePrincipal);
    border-radius: 12px;
    display: grid;
    place-items: center;
    z-index: 100;
    box-sizing: border-box;
    position: relative;
}

.containerIMGcards > img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.btnDesplegarCarta {
    position: absolute;
    z-index: 100;
    bottom: 30px;
    background: var(--fondoPrincipal);
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btnDesplegarCarta:hover {
    transition: all 1s;
    transform: scale(1.1);
}

.containerDesCards {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.namePizza {
    padding: var(--entreMargen);
    border-left: 5px solid var(--contrastePrincipal);
    border-right: 5px solid var(--contrastePrincipal);
}

.namePizza > h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.namePizza > h3 > span {
    color: var(--contrastePrincipal);
    text-shadow: 1px 1px #3a3a3a, 
    2px 2px #2e2e2e;
}

.des_desCrads {
    padding: var(--entreMargen);
    background: var(--maderaClara);
    text-align: right;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.imparCard {
    background: var(--madera);
}

.des_desCrads:last-child {
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px solid var(--contrasteTerciario);
    background: var(--contrastePrincipal);
}

@keyframes desplegarCarta {
    from {
        z-index: -1;
        top: 0;
    }
    to {
        z-index: 10000;
        top: 300px;
    }
}

@keyframes plegarCarta {
    from {
        z-index: 10000;
        top: 300px;
    }
    to {
        z-index: -1;
        top: 0;
    }
}