.windowContainers {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogo {
    margin-bottom: 50px;
}

.containerLogo > img {
    width: 250px;
}

.peperoni {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff3900;
    box-shadow: 1px 1px 0 0 #8f1d00;
}

.circuloPizza {
    position: relative;
    background: var(--contrastePrincipal);
    padding: 50px;
    margin: var(--margen) 0;
    border-radius: 50%;
    border: 15px solid var(--madera);
    box-shadow: 4px 4px 4px 3px var(--maderaOscura),
    inset 3px 3px 5px 5px var(--contrasteSecundario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dividirDos {
    display: flex;
    flex-wrap: wrap;
}

.dividirDos_div {
    flex-grow: 1;
    height: fit-content;
    min-height: 60vh;
    min-width: 350px;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    margin: var(--margen) 0;
}

.divElegir {
    background: var(--contrastePrincipal);
    border-left: 5px solid var(--madera);
}

.makeEspecial_div_right {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 130px);
    grid-gap: 20px;
}

.containerCajaIngredientes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerCajaIngredientes > span {
    font-weight: bold;
    letter-spacing: 1px;
}

.cajaIngredientes {
    width: 100px;
    height: 100px;
    background: var(--madera);
    border-radius: 12px;
    box-shadow: inset 1px 1px 3px 3px var(--maderaOscura);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.cajaIngredientes:hover {
    transition: all 1s;
    transform: scale(1.12);
}

.IMG_ingredientes {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}

.secciones_makeEspecial {
    width: 150px;
    height: 100px;
    display: grid;
    place-items: center;
}