:root {
  /* texto */
  --color: #000 !important;
  --h3-color: #000 !important;
  --card-background-color: #596b7853 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  padding: 15px 45px;
  box-sizing: border-box;
}

nav {
  flex-wrap: wrap;
}

.alertaPersonalizada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  background: #fff;
  box-shadow: 4.5px 4.5px 0px 0px #ececec;
}

.alertaPersonalizada_span {
  word-wrap: break-word;
  font-weight: bold;
}

.textoCentrado {
  text-align: center;
}

.rowAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .grid_cardPizzas {
    padding: 0;
  }
}

@media (max-width: 760px) {
  .cortinaPizza>img {
    display: none;
  }
}