:root {
  /* colores */
  --fondoPrincipal: #02fa99;
  --contrastePrincipal: #fff;
  --contrasteSecundario: #555555;
  --contrasteTerciario: #000;
  --maderaOscura: #320000;
  --madera: #8d4925;
  --maderaClara: #c57d56;

  /* textos */
  --textoGrande: 38px;
  --textoMediano: 23px;

  /* margenes */
  --margen: 15px;
  --entreMargen: 9px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--fondoPrincipal);
}

.rowAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* textos */

.titulos {
  font-size: var(--textoGrande);
  font-weight: bold;
  text-align: center;
}

.textoCentrado {
  text-align: center;
}

.des {
  padding: var(--margen);
  box-sizing: border-box;
}